params {
    docker_image = 'quilt2.0.3_942bc94'
    outdir = 'results'
    samples = 'tests/samples.csv'
    samples2 = 'tests/samples2.csv'
    svfile = '/home/zilong/Projects/cuteSV/data/merged_hg38.svs.TRexclusion.sort.oa.numneigh.refdist1000.vcf'
    refdata = 'prepared_reference_rdata.csv'
    refpanel = ''
    buffer = 5000000
    nGen = 100
    minbp = 4000000
    mincm = 4
    quilt_extra_args = '--Ksubset=100 --Knew=100 --impute_rare_common=FALSE'
}

executor {
    name = "local"
    cpus = 20    // maxmimum number of CPUs for the entire workflow  
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        
        process {
            publishDir = [path: { "${params.outdir}/${task.process.toLowerCase().split(':').last()}" }, mode: 'copy']

            withName: 'CUTESV2_RUN:CUTESV2' {
                cpus = 6
                memory = '1 GB'
            }

            withName: 'QUILT2_RUN:QUILT2_IMPUTE' {
                ext.args = "${params.quilt_extra_args}"
                cpus = 1
                memory = '4 GB'
                when: params.docker_image
                container = params.docker_image
            }

            withName: 'QUILT2_RUN:QUILT2_PHASE' {
                cpus = 1
                memory = '1 GB'
                when: params.docker_image
                container = params.docker_image
            }

            // for specific processes
            withName: 'QUILT2_PREPARE_RDATA:QUILT2_PREPARE_CHUNK' {
                cpus = 1
                memory = '1 GB'
                when: params.docker_image
                container = params.docker_image
            }

            withName: 'QUILT2_PREPARE_RDATA:QUILT2_PREPARE_REFERENCE' {
                cpus = 1
                memory = '4 GB'
                when: params.docker_image
                container = params.docker_image
            }

        }
    }

    conda {
        conda.enabled = true
        process {
            publishDir = [path: { "${params.outdir}/${task.process.toLowerCase().split(':').last()}" }, mode: 'copy']

            withName: 'CUTESV2_RUN:CUTESV2' {
                cpus = 6
                memory = '1 GB'
            }
            
        }
    }
}

