params {
    outdir = 'results'
    samples = 'tests/samples.csv'
    refdata = 'prepared_reference_rdata.csv'
    refpanel = ''
    buffer = 5000000
    nGen = 100
    minbp = 4000000
    mincm = 4
    quilt_extra_args = '--Ksubset=100 --Knew=100 --impute_rare_common=FALSE'
}

executor {
    name = "local"
    cpus = 20    // maxmimum number of CPUs for the entire workflow  
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            publishDir = [path: { "${params.outdir}/${task.process.toLowerCase().split(':').last()}" }, mode: 'copy']

            withName: 'QUILT2_RUN:QUILT2_IMPUTE' {
                ext.args = "${params.quilt_extra_args}"
                cpus = 1
                memory = '4 GB'
                container = 'quilt2.0.3_942bc94'
            }

            withName: 'QUILT2_RUN:QUILT2_HAPLOTAG' {
                cpus = 1
                memory = '1 GB'
                container = 'quilt2.0.3_942bc94'
            }

            // for specific processes
            withName: 'QUILT2_PREPARE_RDATA:QUILT2_PREPARE_CHUNK' {
                when: params.refpanel
                cpus = 1
                memory = '1 GB'
                container = 'quilt2.0.3_942bc94'
            }

            withName: 'QUILT2_PREPARE_RDATA:QUILT2_PREPARE_REFERENCE' {
                when: params.refpanel
                cpus = 1
                memory = '4 GB'
                container = 'quilt2.0.3_942bc94'
            }

        }
    }
}

